<!DOCTYPE html PUBLIC "-//W3C//Dtd html 4.0 Transitional//EN">
<html>
<head>
	<title>eepcollector display example templates</title>
</head>
<body>

<h1>PAGECOLLECTOR TEMPLATES</h1>
<h2>EXAMPLE</h2>

<pre>
<strong>All markers</strong>
These are substituted throughout the whole template.

<em>Mainsections for choosen view mode:</em>
COLLECTDISPLAY_TOOLBAR - contains all markers to list and handle (toolbarfeatures like 'add/delete/move') pages in collection
COLLECTDISPLAY_RESULTLIST - contains all markers just to list the given collection without toolbarfeatures

<em>Subsections:</em>
	CURRENTPAGEPROZESSSECTION - section for viewing current available option for current viewed paged
  		CURRENTPAGEPROZESSIMAGE - a button with the currentavailable option for the current viewed page
  		CURRENTPAGEPROZESSTEXT - a textinfo, about the current available option for the current viewed page
  		CURRENTPAGEPROZESSTITLE - thetitle of the current viewed page

	COOKIEINFOSECTION - section will appear if cookie are enabled
  		COOKIEINFO - shows a textinfo, that cookie couldnt be set/read

	VIEWCOLLECTIONINFOSECTION - section to show info about the summary or emptyness of the collection
  		COLLECTIONINFO - will show the summary of the collection in a short textinfo

	VIEWCOLLECTIONTOOLBARLISTSECTION - section to show a list of pages in collection
  		PROZESSDELETE - button to handle the collection (delete)
  		PROZESSMOVEUP - button to handle the collection (moveup)
  		PROZESSMOVEDOWN - button to handle the collection (movedown)
  		PAGELINK - shows the pagetile/(or rootline) wrapped in a link
  		PAGEURL - shows the URL of the page
  		PAGETITLE - shows only the pagetitle
  		PAGEROOTLINE - shows the rootline in a path of pagetitles
  		PAGECONTENT - a placeholder to wrap it with some content defined via TypoScript (plugin.tx_eepcollect_pi1.display.pagecontent_stdWrap)

	VIEWCLEARALLLINKSECTION - section to show a second list of pages in collection
		VIEWCLEARALLLINK - shows a link to delete the collection
		
	VIEWCOLLECTIONLISTSECTION - section to show a second list of pages in collection
  		
	VIEWCOLLECTIONLINKSECTION - section to show some further links for collectionhandling
  		VIEWCOLLECTIONLINK - shows a link to the resultlistpage, as choosen in the plugin

  	COLLECTIONSMARTLIST - can be used to build an HMENU with TSSetup: stdWrap.setCurrent =1
  	WHATISPAGECOLLECT - link to any page which contains information about this tool

</pre>

<!-- ###################################################################### -->

<br /><br /><br /><br /><hr />
<br />
<h3>Pagecollector powermail Select Example</h3>
<em>This is a template for powermail forms to get checkboxes of already collected pages.</em>
<br />
<br />
You can use a TS-Configuration like:

# eepcollect in powermail
lib.powermailCheckbox_eepcollect < plugin.tx_eepcollect_pi1
lib.powermailCheckbox_eepcollect {
  userFunc = tx_eepcollect_pi1->main
  templateFile = EXT:eepcollect/template/eepcollect_powermail_checkbox.tmpl
  default_view_mode = view_list_mode
  pid_list = 123
}

<br />
<br />

<!-- ###COLLECTDISPLAY_RESULTLIST### begin -->
	<!-- ###VIEWCOLLECTIONTOOLBARLISTSECTION### begin -->
		<input type="checkbox" id="uid321" name="tx_powermail_pi1[uid321][###PAGEID###]" value="###PAGETITLE###" />###PAGETITLE###<br />
	<!-- ###VIEWCOLLECTIONTOOLBARLISTSECTION### end -->
<!-- ###COLLECTDISPLAY_RESULTLIST### end -->


<!-- ###################################################################### -->


</body>
</html>