<!DOCTYPE html PUBLIC "-//W3C//Dtd html 4.0 Transitional//EN">
<html>
	<head>
		<title>No template defined</title>
	</head>
	<body>
		<!-- ###COLLECTDISPLAY_ERROR### begin -->
		<h1>No template defined</h1>
		You must define a template in your TS-configuration (plugin.tx_eepcollect_pi1.templateFile) first, or include the static template 'PageCollector Default (eepcollect)'.
		<!-- ###COLLECTDISPLAY_ERROR### end -->
	</body>
</html>
